.box{
    margin-left: 30%;
    margin-top: 7%;
    width: 30%;
    height: 100%;
}
#password + .glyphicon {
    cursor: pointer;
    pointer-events: all;
  }
  .glyphicon {
    float: right;
    margin-right: 15px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }