<div class="box">
    <h1>User Data Form</h1>
 
    <div class="form-group">
      <label>First Name</label>
      <span class="form-control">{{}}</span>
   
      
    </div>
  <!--
    <div class="form-group">
      <label for="lastName" >Last Name</label>
      <span class="form-control">{{}}</span>
     
      
    </div>
  
  
    <div class="form-group">
      <label for="email" >Email</label>
      <span class="form-control">{{}}</span>
     
    </div>
  
  
    <div class="form-group">
      <label for="password" >Password</label>
      <span class="form-control">{{}}</span>
     
    </div>
  
  
    <div class="form-group">
      <label for="cnf" > Confirm Password</label>
      <span class="form-control">{{}}</span>
     </div>
  
  
    <div class="form-group">
      <label for="gender" >Gender</label>
      <span class="form-control">{{}}</span>
    </div>
  
  
    <div class="form-group">
      <label for="contact" >Contact No</label>
      <span class="form-control">{{}}</span>
     
    </div>
  
  
    <div class="form-group">
      <label for="eid" >Empolyee ID</label>
      <span class="form-control">{{}}</span>
    </div>
  -->
    
 
  </div> 