 <div class="box">
  <h1>Register Form</h1>
<form [formGroup]="form" (ngSubmit)='storeData()'>
  <div class="form-group">
    <label for="firstName" >First Name</label>
    <input type="text" class="form-control" formControlName="firstName"/>
    <div class="alert alert-danger" *ngIf ="form.controls['firstName'].touched && form.controls['firstName'].invalid">Enter Your name /only letter</div>
    
  </div>


  <div class="form-group">
    <label for="lastName" >Last Name</label>
    <input type="text" class="form-control" formControlName="lastName"/>
    <div class="alert alert-danger" *ngIf =" form.controls['lastName'].touched && form.controls['lastName'].invalid">Enter Your Last Name / only Letter</div>
    
  </div>


  <div class="form-group">
    <label for="email" >Email</label>
    <input type="text" class="form-control" formControlName="email"/>
    <div class="alert alert-danger" *ngIf =" form.controls['email'].touched && form.controls['email'].invalid">Enter valid email</div>
    
  </div>


  <div class="form-group">
    <label for="password" >Password</label>
    <input type="password" class="form-control" formControlName="password"/>
    <div class="alert alert-danger" *ngIf =" form.controls['password'].touched && form.controls['password'].invalid">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>
  </div>


  <div class="form-group">
    <label for="cnf" > Confirm Password</label>
    <input type="password" class="form-control" formControlName="cnf"/>
    <div class="alert alert-danger" *ngIf =" form.controls['cnf'].touched && form.controls['cnf'].value != form.controls['password'].value">Enter Same Password</div>
  </div>


  <div class="form-group">
    <label for="gender" >Gender</label>
    <select class="form-control" formControlName="gender">
      <option value="Male"> Male</option>
      <option value="Female">Female</option>
    </select>
    <div class="alert alert-danger" *ngIf ="form.controls['gender'].touched && form.controls['gender'].invalid">Please Select One</div>
  </div>


  <div class="form-group">
    <label for="contact" >Contact No</label>
    <input type="number" class="form-control" formControlName="contact"/>
    <div class="alert alert-danger" *ngIf ="form.controls['contact'].touched && form.controls['contact'].invalid">Enter 10 Digit Number</div>
  </div>


  <div class="form-group">
    <label for="eid" >Empolyee ID</label>
    <input type="number" class="form-control" formControlName="eid"/>
    <div class="alert alert-danger" *ngIf ="form.controls['eid'].touched && form.controls['eid'].invalid">Enter 4 Digit Number</div>
  </div>
  
  <button  type="submit" class="btn btn-primary"[disabled]="!form.valid"> Submit</button>

</form>
</div> 